data/Abdelfattah_etal_2022_Nat_coms.pdf filter=lfs diff=lfs merge=lfs -text
data/GBM_seurat_object.h5seurat filter=lfs diff=lfs merge=lfs -text
results/figures/Supplementary_Figure_3_Frequency_of_CXCL12_positive_cells_within_each_cluster.pdf filter=lfs diff=lfs merge=lfs -text
results/figures/Supplementary_Figure_3_Frequency_of_cells_positive_or_negative_for_CXCL12_within_celltype_clusters.csv filter=lfs diff=lfs merge=lfs -text
results/figures/CXCL12_Hypoxia_GBM filter=lfs diff=lfs merge=lfs -text
results/figures/CXCL12_Hypoxia_GBM/Featureplot_CA9_expression.pdf filter=lfs diff=lfs merge=lfs -text
results/figures/CXCL12_Hypoxia_GBM/Featureplot_CXCL12_and_CA9_expression_in_GBM_only_cells.pdf filter=lfs diff=lfs merge=lfs -text
results/figures/CXCL12_Hypoxia_GBM/VlnPlot_CXCL12_expression_in_GBM_only_cells_across_CA9_status.pdf filter=lfs diff=lfs merge=lfs -text
results/figures/Number_of_cells_positive_or_negative_CXCL12.csv filter=lfs diff=lfs merge=lfs -text
results/figures/Number_of_cells_sequenced.csv filter=lfs diff=lfs merge=lfs -text
results/figures/UMAP_Assignments_raster.pdf filter=lfs diff=lfs merge=lfs -text
results/figures filter=lfs diff=lfs merge=lfs -text
results/figures/CXCL12_Hypoxia_GBM/Featureplot_CXCL12_expression.pdf filter=lfs diff=lfs merge=lfs -text
results/figures/CXCL12_Hypoxia_GBM/UMAP_cellassignements.pdf filter=lfs diff=lfs merge=lfs -text
results/figures/Figure_3A.pdf filter=lfs diff=lfs merge=lfs -text
